<div class="about_content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="product-body">
                    <div class="row product-list product-detail">
                        <div class="col-12 col-lg-5 product-detail-slider">
                                <div class="images"> <a href="book-shop/img/book-1-1.jpg" data-fancybox="1" title="Zoom In"><img class="myimage" src="book-shop/img/book-1-1.jpg" alt="gallery"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--END LATEST ARRIVALS-->
    <!-- Bundle -->
    <!-- Plugin Css -->
</div>